<div class="mx-auto col-10 col-md-8 col-lg-6">
<form #passwordFrom="ngForm" (ngSubmit)="resetPassword(passwordFrom.value)">
  <div class="form-group">
   
    <label for="currentpassword">current password:</label><br />
    <input
      type="password"
      class="form-control"
      ngModel
      id="currentpassword"
      name="currentpassword"
    /><br />
    <label for="newPassword:">new password:</label><br />
    <input
      type="password"
      class="form-control"
      ngModel
      id="newpassword"
      name="newpassword"
    /><br />
    <label for="confirmNewPassword">confirm new password:</label><br />
   
    <input 
      type="password"
      class="form-control"
      ngModel
      name="confirmNewPassword"
      id="confirmNewPassword"
    />
    <p *ngIf="isMatched"  >password didn't match</p>
     <br />
  
  <input class="btn btn-primary" type="submit" value="Reset" />
  <small *ngIf="isupdated" >password updated</small>

  </div>
</form>
</div>