<div *ngIf="isDataLoaded">
  <div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
      <form #userForm="ngForm" (ngSubmit)="updateCurrentUser(userForm.value)">
        <div class="form-group">
          <label for="username">Username:</label><br />
          <input
            type="text"
            class="form-control"
            ngModel
            id="username"
            name="username"
            value="asdas"
            [(ngModel)]="currentUser.userName"
          /><br />
          <label for="name">Name:</label><br />
          <input
            type="text"
            class="form-control"
            ngModel
            id="name"
            name="name"
            [(ngModel)]="currentUser.name"
          /><br />
        </div>
        <label for="email">Email:</label><br />
        <input
          type="email"
          class="form-control"
          ngModel
          id="email"
          name="email"
          [(ngModel)]="currentUser.email"
        /><br />
        <label for="password">Orgnization:</label><br />
        <select
          name="orgnizationId"
          [(ngModel)]="currentUser.orgnization.id"
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
        >
          <option selected>{{ currentUser.orgnization.name }}</option>
          <option *ngFor="let org of organizations" value="{{ org.id }}">
            {{ org.name }}
          </option>
        </select>
        <br />
        <input class="btn btn-primary" type="submit" value="Update" />
      </form>
      <br />
      <h6>
        password is hashed if you want to reset password click
        <a routerLink="/reset-password/{{ userId }}">here</a>
      </h6>
      <h6>Hashedpassword:</h6>
      <p>{{ currentUser.passwordHash }}</p>
      <br />
    </div>
  </div>
</div>
